<mp-toolbar></mp-toolbar>
<div class="wrapper" layout="row" layout-fill ng-hide="vm.loading">
  <mp-nav class="md-whiteframe-z2"></mp-nav>
  <md-content layout-padding flex>
    <h1 class="md-title">Accounts</h1>
    <md-list>
      <md-list-item ng-repeat="account in vm.accounts" ng-click="vm.$state.go('account')" class="noright">
        <img alt="{{ account.name }}" ng-src="{{ account.img }}" class="md-avatar" />
        <p>{{ account.name }}</p>
      </md-list-item>
    </md-list>
  </md-content>
</div>
<div class="wrapper" layout-padding layout-fill ng-show="vm.loading">
  <pre>Loading</pre>
</div>
<md-button class="md-fab md-fab-bottom-right">
  <md-icon>add</md-icon>
</md-button>

