<div layout="column">
  <md-input-container class="md-block" flex-gt-sm>
    <label>Customer</label>
    <md-select ng-model="vm.obj.customer">
      <md-option ng-repeat="customer in vm.data.customers" value="{{ customer.name }}">
        {{ customer.name }}
      </md-option>
    </md-select>
  </md-input-container>
  <md-input-container>
    <label>Action</label>
    <input type="text" ng-model="vm.obj.action">
  </md-input-container>
  <md-input-container>
    <label>Call Recording URL</label>
    <input ng-model="vm.obj.callRecordingUrl">
  </md-input-container>
  <md-input-container class="md-block">
    <label>Call Summary</label>
    <textarea ng-model="vm.obj.callSummary" md-maxlength="300" rows="5" md-select-on-focus></textarea>
  </md-input-container>
</div>
<section layout="column">
</section>

