<md-dialog aria-label="Change Email Dialog" ng-cloak>
  <form  ng-submit="vm.submit()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2 class="md-title">Change Email Dialog</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="vm.cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout="column">
          <md-input-container>
            <label>Password</label>
            <input type="password" ng-model="vm.user.password" required>
          </md-input-container>
          <md-input-container>
            <label>Old Email</label>
            <input type="email" ng-model="vm.user.oldEmail" required>
          </md-input-container>
          <md-input-container>
            <label>New Email</label>
            <input type="email" ng-model="vm.user.newEmail" required>
          </md-input-container>
        <section layout="column">
        </section>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button type="submit">
        Submit
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>

